<section id="static-comments">
    <!-- Start static comments -->
    <div class="js-comments">
    {% if site.data.comments[page.slug] %}
        <h4 class="page__comments-title">{{ site.data.ui-text[site.locale].comments_title | default: "Comments" }}</h4>
        {% assign comments = site.data.comments[page.slug] %}

        <!-- In order to sort by date we must have an array of objects, not an array of arrays, so
            create a new array of plain comment objects and then sort by the comment date. -->
        {% assign commentObjects = '' | split: '' %}
        {% for comment in comments %}
            {% assign commentObject = comment[1] %}
            {% assign commentObjects = commentObjects | push: commentObject %}
        {% endfor %}
        {% assign comments = commentObjects | sort: "date" %}

        {% for comment in comments %}
            {% assign email = comment.email %}
            {% assign name = comment.name %}
            {% assign url = comment.url %}
            {% assign date = comment.date %}
            {% assign message = comment.message %}
            {% include comment.html index=forloop.index email=email name=name url=url date=date message=message %}
        {% endfor %}
    {% endif %}
    </div>
    <!-- End static comments -->
    <p>To submit comments, go to <a href="https://github.com/{{ site.repository }}/discussions">GitHub Discussions</a>.</p>
</section>